djangorestframework~=3.14.0
Django~=4.1.8
python-dotenv~=1.0.0
requests~=2.28.2
Pillow~=9.4.0
openai~=1.76.0
PyMonad~=2.4.0
gunicorn
gevent
django-cors-headers
markdown
django-filter
black
websockets
djoser
filelock