.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.burger-menu .line {
  width: 2rem;
  height: 0.25rem;
  background: #333;
}