html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


li::before {
    content: "≫ ";
    position: absolute;
    left: -1.25em;
    margin-top: 0.05em;
    font-size: 0.9em;
}

.fine-li::before {
    left: 0.75em;
}

.disabled-link {
  pointer-events: none;
}


.hidden {
    display: none;
}

.votes {
  opacity: 0.33;
  transition: opacity 0.5s ease;
}

.votes:hover {
  opacity: 1;
}