
.cyberpunk-spinner {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cyberpunk-spinner span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #11ffe9;
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: #00ffea;
  box-shadow:
    0 0 15px #11ffe9,
    0 0 30px rgba(0, 0, 0, 0),
    0 0 45px rgba(0, 0, 0, 0),
    0 0 60px #00ffea;
  animation: cyberpunk-spin 1.1s linear infinite;
}

.cyberpunk-spinner span:nth-child(2) {
  width: 50px;
  height: 50px;
  border-width: 4px;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: #11ffe9;
  border-bottom-color: #00ffea;
  border-left-color: rgba(0, 0, 0, 0);
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0),
    0 0 20px #11ffe9,
    0 0 30px #00ffea,
    0 0 40px rgba(0, 0, 0, 0);
  animation-duration: 1.5s;
  animation-direction: reverse;
}

.cyberpunk-spinner span:nth-child(3) {
  width: 30px;
  height: 30px;
  border-width: 4px;
  border-top-color: #00ffea;
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: #11ffe9;
  box-shadow:
    0 0 5px #00ffea,
    0 0 10px rgba(0, 0, 0, 0),
    0 0 15px rgba(0, 0, 0, 0),
    0 0 20px #11ffe9;
  animation-duration: 1.2s;
}

@keyframes cyberpunk-spin {
  to {
    transform: rotate(360deg);
  }
}