.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
}



@media (min-width: 600px) {
    .container {
        flex-wrap: nowrap;
    }

    .left-container {
        flex: 1 1 25%;
        min-width: 250px;
    }

    .right-container {
        flex: 1 1 75%;
    }

}

.growing-img {
    transform: scale(0.8);
    transform-origin: center;
    animation: grow 2s forwards;
}

@keyframes grow {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}
